In [6]:
import pandas as pd
# from tabula import read_pdf
# df = read_pdf('2014 Union December.pdf')
df = pd.read_excel('Berkeley_heights.xlsx')
# df2 = read_pdf('Area Market Analysis Report.pdf')

In [8]:
df.to_csv('berkeley_heights.csv')

In [12]:

df.columns

Index(['Date', 'ActiveNum', 'AvLP', 'AvMP', 'NewLnum', 'NewLAVLP', 'NewLAVMP',
       'UCNewNum', 'UCAVLP', 'UCAVMP', 'UCAvDOM', 'SoldNum', 'SoldAVLP',
       'SoldAVMP', 'SoldAVDOM', 'SP/LP', 'SP/OLP'],
      dtype='object')

In [10]:
df.head(10)

,Date,ActiveNum,AvLP,AvMP,NewLnum,NewLAVLP,NewLAVMP,UCNewNum,UCAVLP,UCAVMP,UCAvDOM,SoldNum,SoldAVLP,SoldAVMP,SoldAVDOM,SP/LP,SP/OLP
0,"Dec,2018",92,"$643,237","$622,400",13,"$593,200","$599,900",9,"$616,433","$535,000",75,12,"$563,750","$547,500",33,99%,98%
1,"Nov,2018",103,"$656,725","$625,000",15,"$672,145","$650,000",4,"$498,100","$501,700",28,12,"$616,283","$545,500",42,99%,97%
2,"Oct,2018",114,"$631,524","$599,000",22,"$552,127","$574,950",16,"$513,963","$446,450",53,3,"$544,333","$565,000",52,98%,96%
3,"Sep,2018",114,"$655,116","$622,400",31,"$667,061","$675,000",7,"$587,529","$576,000",36,10,"$629,750","$611,500",50,97%,92%
4,"Aug,2018",106,"$639,276","$615,800",30,"$619,803","$604,950",11,"$712,718","$619,000",78,20,"$629,505","$637,400",72,98%,95%
5,"Jul,2018",94,"$644,083","$624,950",18,"$595,261","$537,500",10,"$605,580","$662,450",55,17,"$677,502","$575,000",34,98%,97%
6,"Jun,2018",94,"$664,315","$634,000",33,"$650,333","$629,000",11,"$667,873","$599,900",59,25,"$668,060","$625,000",28,99%,98%
7,"May,2018",98,"$685,818","$644,944",41,"$701,102","$649,000",24,"$674,145","$600,000",28,10,"$664,275","$596,000",29,98%,97%
8,"Apr,2018",85,"$676,982","$634,900",39,"$669,294","$619,900",18,"$663,983","$607,450",25,15,"$591,893","$581,000",29,99%,98%
9,"Mar,2018",62,"$666,158","$629,000",21,"$673,214","$595,000",15,"$628,787","$589,000",28,14,"$529,286","$587,500",77,98%,96%